<section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">About us</h2>
          <h3 class="section-sub-title">What We Do</h3>
        </div>
      </div>
      <!--/ Title row end -->

      <div class="row">
        <div class="col-lg-6">

          <div class="ts-service-box d-flex">

            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer
                  adipiscing erat</a></h3>
              <p>when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible
                vermin.</p>
              <blockquote>
                <p>Semporibus autem quibusdam et aut officiis debitis aut rerum est aut optio cumque nihil
                  necessitatibus autemn ec tincidunt nunc posuere ut</p>
              </blockquote>
              <p>He lay on his armour-like back, and if he lifted. ultrices ultrices sapien, nec tincidunt nunc
                posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything
                embarrassing. He lay on his armour-like back, and if he lifted. ultrices ultrices sapien, nec
                tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything
                embarrassing. </p>
            </div>
          </div><!-- Service 3 end -->

        </div><!-- Col end -->

        <div class="col-lg-6 text-center">
          <img loading="lazy" class="img-fluid" src="/assets/images/services/team3.PNG" alt="service-avater-image">
        </div><!-- Col end -->



      </div>
      <!--/ Container end -->
  </section><!-- About us -->